.wrapper{
     background-color: hsl(273, 70%, 90%);
     min-height: 100vh;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-inline: auto;
    padding-top: 6em;
}